# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.dev 

# Next.js
.next/
out/

# Build
dist/
build/

# TypeScript
*.tsbuildinfo

# Cache
.cache/
.turbo/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
docker-data/
*.pid