@import 'tailwindcss';

@theme {
  /*main theme*/
  --color-primary: #006400;
  --color-secondary: #90ee90;
  --color-tertiary: #fbfbe1;
  --color-neutral: #fbfbe2;

  /*landing page*/
  --color-text-title: #024600;
  --color-text-title-variant: #0d6818;
  --color-text-subtitle: #7b7d6b;

  /*form*/
  --color-form-text-title: #0b7314;
  --color-form-text-subtitle: #90968a;
  --color-form-btn-bg: #007500;
  --color-form-btn-bg-hover: #00c100;

  --color-form-submit-btn-bg: #99f89a;
  --color-form-submit-btn-bg-hover: #79c47a;
  --color-form-submit-btn-bg-active: #99f89a;

  /*input*/
  --color-input-text-legend: #456542;
  --color-input-text-legend-hover: #88ad86;

  --color-input-bg: #f7f7dd;
  --color-input-text: #656656;
  --color-input-text-active: #b0b296;

  /*nav*/
  --color-brand: #10400c;
  --color-nav-item: #456542;
  --color-border-bg: #f7f7dd;
  --color-nav-bg: #f5f5db;

  /*footer*/
  --color-footer-bg: #f5f5db;

  /*meal card*/
  --color-card-tag-bg: #91e790;

  /*category frame*/
  --color-category-card-bg: #f5f5dc;

  /*category frame*/
  --color-tag-bg: #e4e4d7;

  /*recipe*/
  --color-recipe-bg: #f2f2e4;
  --color-recipe-border: #f2f2e4;

  /*button*/
  --color-btn-bg-secondary: #f1f1e4;
  --color-btn-bg-secondary-hover: #e4e4d7;
}
